/* Main Styles */

body {
    color: #626262;
    font-family: 'Sanchez', Georgia, 'Times New Roman', serif;
}
 
a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
}

#phone-outline {
    outline: 20px solid black;
    max-width: 412px;
    margin: 20px auto;
    border-radius: 10px;
} 

.red-line {
    margin-top: 20px;
    border-top: solid 3px #C54242;
    padding-top: 20px;
}

.hidden {
    display: none;
}

/* Header */

#main-navigation label img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .5s ease;
    margin-bottom: 20px; 
} 
 
#main-navigation input, #burger-container {
    display: none;
}

#main-navigation input:checked ~ #burger-container {
    display: block;
}
 
#main-navigation input:checked ~ label img {
    transform: rotate(90deg);
}
 
#main-navigation ul {
    list-style: none;
}
 
#main-navigation ul li a {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: inherit;
}
 
#main-navigation ul li {
    border-bottom: 1px solid #efefef;
}
 
#main-navigation ul li:first-child {
    border-top: 1px solid #efefef;
}
 
#main-navigation ul li:last-child {
    margin-bottom: 10px;
}

#logo {
    margin-bottom: 20px;
    max-width: 380px;
}

/* Hero Image - Rooms */

#hero-rooms {
    background: url(../images/hero-room.jpg) no-repeat;
    height: 220px;
}
 
/* Book Now Button */

.book-now {
    background-color: #9a2018;
    color: #fff;
    font-size: 18px;
    transition: background-color 500ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    transition:all 0.3s ease;
    cursor: pointer;
}
 
.book-now:hover {
    background-color: rgb(196, 28, 28);
}
 
#book-now-button {
    height: 65px;
}

/* Heading Box */
 
#hero-heading-box {
    align-self: end;
}
 
.heading-h2 {
    background: rgb(255, 255, 255);
    padding: 15px 0 0 15px;
    font-size: 16px;
    font-weight: 200;
}
 
.heading-h2 span {
    color: #C54242;
    font-size: 12px;
}

/* Rooms Introduction Text */
 
#rooms-summary p {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 20px;
}

/* Our Room Services Container */

#room-services-container {
    background-color: #f4f4f4;
    padding: 30px 0 40px 15px;
    margin-top: 30px;
}
 
#room-services-container h2 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 200;
}
 
#room-services-container h2 span {
    color: #C54242;
    font-size: 12px;
}
 
.column-span-full.room-services-items {
    margin: 8px 0;
}
 
.room-services-items h3 {
    background: #e8e7e7;
    padding: 12px;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 100;
}
 
.room-services-items ul {
    margin-top: 10px;
    list-style-type: none;
}

.room-services-items li {
    padding: 6px 0;
    border-bottom: 1px solid #9a2018;
}

.room-services-items li:last-child {
    border: 0;
}  

.room-services-items {
    margin-top: 20px;
    margin-bottom: 20px;
}

.room-services-items a {
    color: inherit;
    font-size: 12px;
}

.fa-play {
    float: left;
    color: #b8b8b8;
    margin-top: 12px;
    margin-left: 12px;
}

/* Navigation */

#page-navigation {
    padding: 30px 0 10px 0;
    margin: 0;
}
 
#page-navigation ul {
    list-style: none;
}

#page-navigation ul li {
    margin-bottom: 10px;
}
 
#page-navigation ul li a {
   color: inherit;
   padding: 5px;
   font-size: 14px;
}
 
#page-navigation ul li a.selected {
    border-left: #9a2018 solid 8px;
}

/* Content */

#content-container {
    margin-top: 0;
    padding-top: 0;
}

.heading-box {
    align-self: end;
}

.content-text p {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 20px;
}

.content-text a {
    color: #626262;
    font-size: 13px;
    margin-bottom: 20px;
}

/* Rooms Pictures */

#chateau-container {
    background: url(../images/room-chateaus.jpg) no-repeat;
    height: 200px;
}

#villa-container {
    background: url(../images/room-villas.jpg) no-repeat;
    height: 200px;
    margin-top: 50px;
}

#master-container {
    background: url(../images/room-masters.jpg) no-repeat;
    height: 200px;
    margin-top: 50px;
}

#chalet-container {
    background: url(../images/room-chalets.jpg) no-repeat;
    height: 200px;
    margin-top: 50px;
}

#junior-container {
    background: url(../images/room-juniors.jpg) no-repeat;
    height: 200px;
    margin-top: 50px;
}

#exotic-container {
    background: url(../images/room-exotics.jpg) no-repeat;
    height: 200px;
    margin-top: 50px;
}

/* Contact Container */

#contact-container {
    background: url(../images/contact.jpg) no-repeat;
    height: 200px;
    margin-top: 40px;
}

#contact-heading-box {
    align-self: end;
}

#contact-text {
    font-size: 13px;
    line-height: 22px;
    margin-top: 15px;
    margin-bottom: 25px;
}

#contact-address p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 22px;
}
 
#contact-address {
    margin-bottom: 30px;
}
 
#contact-address h3 {
    margin-bottom: 20px;
}

/* Contact Form */

#contact-form form {
    display: flex;
    flex-direction: column;
}
 
#contact-form input, textarea {
    padding: 15px;
    border: 2px solid #d6d6d6;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 30px;
    font: inherit;
    width: auto;
    font-size: 16px;
}

#contact-form input:focus, textarea:focus {
    background: #d6d6d6;
    outline: none;
}
 
#contact-form textarea {
    height: 220px;
    resize: none;
}
 
#contact-form input[type="submit"] {
    padding: 12px 28px;
    background: #9a2018;
    color: #fff;
    border: 2px solid #d6d6d6;
    transition: all 200ms ease-in;
    width: 175px;
    align-self: flex-end;
}
 
#contact-form input[type="submit"]:hover {
    background-color: rgb(196, 28, 28);
    border-radius: 0;
    cursor: pointer;
}

