/* Main Styles */

body {
    color: #626262;
    font-family: 'Sanchez', Georgia, 'Times New Roman', serif;
}
 
a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
}

#phone-outline {
    outline: 20px solid black;
    max-width: 412px;
    margin: 20px auto;
    border-radius: 10px;
} 

.red-line {
    margin-top: 20px;
    border-top: solid 3px #C54242;
    padding-top: 20px;
}

.hidden {
    display: none;
}

/* Header */

#main-navigation label img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .5s ease;
    margin-bottom: 20px; 
} 
 
#main-navigation input, #burger-container {
    display: none;
}

#main-navigation input:checked ~ #burger-container {
    display: block;
}
 
#main-navigation input:checked ~ label img {
    transform: rotate(90deg);
}
 
#main-navigation ul {
    list-style: none;
}
 
#main-navigation ul li a {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: inherit;
}
 
#main-navigation ul li {
    border-bottom: 1px solid #efefef;
}
 
#main-navigation ul li:first-child {
    border-top: 1px solid #efefef;
}
 
#main-navigation ul li:last-child {
    margin-bottom: 10px;
}

#logo {
    margin-bottom: 20px;
    max-width: 380px;
}

/* Hero Image - Rooms */

#hero-rooms {
    background: url(../images/hero-mobile-01.jpg) no-repeat;
    height: 220px;
}
 
/* Book Now Button */

.book-now {
    background-color: #9a2018;
    color: #fff;
    font-size: 18px;
    transition: background-color 500ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    transition:all 0.3s ease;
    cursor: pointer;
}
 
.book-now:hover {
    background-color: rgb(196, 28, 28);
}
 
#book-now-button {
    height: 65px;
}
